.account-hero {
    background-image: url(../img/joe-wuc.png);
    background-size: cover;
    background-position: center -70px;
    @include flex-height;
    min-height: 500px;
    img {
        margin: 0 auto;
        display: block;
    }
    h2 {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-weight: 600;
        margin-top: 45px;
        font-size: 23px;
        text-transform: uppercase;
    }
    @include media-breakpoint-down(lg) {
        background-position: center center;
    }
    
    @include media-breakpoint-down(md) {
        min-height: 440px;
        background-position: -60px center;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgb(0,93,160);
            background: linear-gradient(184deg, rgba(0,93,160,0) 46%, rgba(255,255,255,0.77) 100%);
        }
        h1 {
            font-size: 50px;
        }
        img.wuc-logo {
            width: 80%;
            margin: 0 auto;
            display: block;
        }
        .account-hero-inner {
            margin-top: 175px;
        }
    }
}


div#mepr-account-nav {
    background-color: $pink;
    height: 50px;
    line-height: 50px;
    .mepr-nav-item {
        padding: 0 20px;
        a {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            color: $white;
            text-transform: uppercase;
            font-size: 18px;
            &:hover {
                text-decoration: none;
            }
        }
        &.mepr-active-nav-tab {
            padding: 0 20px;
            background: black;
            position: relative;
            line-height: 50px;
            height: 50px;
            display: inline-block;
        }
    }
}

#mepr-account-welcome-message p {
    font-weight: 600;
    margin: 30px 0;
}


@include media-breakpoint-down(md) {
    div#mepr-account-nav {
        display: flex;
    }
    div#mepr-account-nav .mepr-nav-item {
        padding: 0 9px;
    }
    div#mepr-account-nav .mepr-nav-item a {
        font-size: 14px;
    }
}

@include media-breakpoint-down(sm) {
    .account-wrap .mp_wrapper:first-of-type {
        height: 140px;
    }
    div#mepr-account-nav {
        display: block;
        height: 100px;
    }
    div#mepr-account-nav .mepr-nav-item {
        padding: 0 9px;
        display: flex !important;
        width: 33.3%;
        float: left;
        border: 1px solid darken($pink, 10%);
        height: 50px;
        justify-content: center;
        flex-direction: column;
    }
    div#mepr-account-nav .mepr-nav-item a {
        font-size: 11px;
        line-height: 11px;
    }
}
