$black: #000;
$white: #fff;
$pink: #ec008c;
$blue: #03aeef;
$lightGrey: #e7e7e7;
$medGrey: #818080;

@import url('https://fonts.googleapis.com/css2?&family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    strong {
        font-weight: 600;
    }
}

p {
    margin-bottom: 1.75rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue', cursive;
}

h1 { font-size: 3rem; }
h2 { 
    font-size: 2.6rem; 
    margin-bottom: 1.6rem;
}
h3 { font-size: 2.2rem; }
h4 { font-size: 2rem; }

.sec-pad {
    padding-top: 90px;
    padding-bottom: 90px;
}
.sec-pad-top {
    padding-top: 90px;
}
.sec-pad-bot {
    padding-bottom: 90px;
}

.caption {
    text-align: center;
    color: $medGrey;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 35px;
}

.light-bg {
    background: $lightGrey;
}

.align-left {
    text-align: left;
}

.quote-wrap {
    border-top: 1.5px solid $black;
    border-bottom: 1.5px solid $black;
    padding: 30px 0;
    margin-bottom: 25px;
    &.center-quote {
        max-width: 500px;
        text-align: left;
        margin: 25px auto;
        .quote-img-side img {
            width: 70px;
            position: relative;
            top: -10px;
        }
    }
    .quote-img-side {
        float: left;
        margin-right: 20px;
        img {width: 100px;}
    }
    .quote-side {
        font-family: 'Bebas Neue', cursive;
        font-size: 29px;
        line-height: 32px;
        margin: 0;
    }
}