.custom-logo-link {
    width: 155px;
    img {
        width: 100%;
    }
}

.navbar-expand-md .navbar-nav .menu-item {
    padding: 0.5rem 1rem;
}
.navbar-expand-md .navbar-nav .nav-link {
    @include poppins;
    text-transform: uppercase;
    color: $black;
    padding: 0 0;
    font-size: 12px;
    letter-spacing: -0.4px;
    font-weight: 500;
    border-bottom: 2px solid $white;
    &:hover {
        border-bottom: 2px solid $pink;
    }
}

.dropdown-item {
    @include poppins;
    text-transform: uppercase;
    color: $black;
    font-size: 12px;
    letter-spacing: -0.4px;
    font-weight: 500;
}

.navbar-expand-md .navbar-nav .current_page_item .nav-link {
    border-bottom: 2px solid $pink;
}


//login and register
.navbar-expand-md .navbar-nav .login-btn, .navbar-expand-md .navbar-nav .register-btn {
    padding: 0 1rem;
    .nav-link {
        @include nav-btn;
        &:hover {
            border-bottom: none;
        }
    }
}

.navbar-expand-md .navbar-nav .register-btn{
    padding: 0 1rem 0 0;
}

.navbar-expand-md .navbar-nav .register-btn .nav-link {
    background-color: $pink;
    color: $white;
    &:hover {
        border-bottom: none;
        background-color: darken($pink, 10%);
    }
}