.plans-register {
    text-align: center;
    margin-top: 45px;
    h1 {
        text-align: center;
        margin-bottom: 45px; 
    }
    ul.checks {
        font-size: 15px;
//        font-weight: 600;
        text-align: center;
        list-style-position: inside;
        margin-bottom: 40px;
        li {
            margin-bottom: 4px;
        }
        @include media-breakpoint-down(sm) {
            padding-left: 0 !important;
        }
    }
}
.mepr-price-boxes {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mepr-price-box {
    background: $lightGrey;
    width: 32%;
    padding: 40px;
    text-align: center;
}

.mepr-most-popular {
    display: none;
}

.mepr-price-box-title {
    width: 230px;
    margin: 0 auto;
}

.mepr-price-box-price {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin: 25px 0;
}

.mepr-price-box-button a {
    @include default-btn;
}

.type-memberpressgroup {
    h1 {
        text-align: center;
        margin-bottom: 45px;
    }
}


@include media-breakpoint-down(md) {
    .mepr-price-boxes {
        display: block;
    }
    .mepr-price-box {
        margin-bottom: 15px;
        width: 100%;
    }
}