.wuc-hero {
    background-image: url(../img/joe-wuc.png);
    background-size: cover;
    background-position: center center;
    @include flex-height;
    height: 720px;
    @include media-breakpoint-down(lg) {
        height: 600px;
    }
    .wuc-tagline {
        display: block;
        text-align: center;
        margin-top: 25px;
        border-top: 1.5px solid $black;
        padding-top: 25px;
        text-transform: uppercase;
        letter-spacing: .4px;
        font-weight: 500;
    }
    @include media-breakpoint-down(md) {
        height: 440px;
        background-position: -60px center;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgb(0,93,160);
            background: linear-gradient(184deg, rgba(0,93,160,0) 46%, rgba(255,255,255,0.77) 100%);
        }
        h1 {
            font-size: 50px;
        }
        img.wuc-logo {
            width: 80%;
            margin: 0 auto;
            display: block;
        }
        .wuc-hero-inner {
            margin-top: 175px;
        }
    }
}

.wuc-intro {
    text-align: center;
    ul {
        &:first-of-type {
            margin-right: 20px;
        }
    }
}

ul.checks {
    text-align: left;
    list-style-image:url(../img/check.png);
    padding: 0;
    li {
        margin-bottom: 8px;
    }
}

.wuc-desc {
    background: $lightGrey;
    .default-btn {
        margin-top: 0;
    }
}

.wuc-testimonials {
    text-align: center;
}

.wuc-testimonial {
    text-align: center;
    img.wuc-testimonial-img {
        display: block;
        border-radius: 100%;
        float: left;
        width: 150px;
        margin-right: 25px;
    }

    .testimonial-info {
        text-align: left;
    }
    h3 {
        font-size: 1.5rem;
        margin: 20px 0 0 0;
        color: $blue;
    }
}

.arrows-wuc-testimonials {
    position: relative;
    top: -140px;
}
.arrows-wuc-testimonials .arrows-inner {
    display: flex;
    justify-content: space-between;
}

span.prev-wuc-testimonial.slick-arrow {
    position: relative;
    left: -55px;
}

span.next-wuc-testimonial.slick-arrow {
    position: relative;
    right: -55px;
}

.wuc-test-btn-wrap {
    display: flex;
    justify-content: center;
}



.wuc-two-lists {
    background: $lightGrey;
}

.plus {
    text-align: center;
    h4 {
        margin-top: 55px;
        color: $pink;
    }
}

.wake-me-up {
    .default-btn {
        display: block;
        width: 300px;
        font-size: 26px;
        margin: 0 auto;
    }
}


@include media-breakpoint-down(lg) {
    .wuc-testimonial .testimonial-info {
        text-align: left;
        width: 419px;
        float: right;
    }
}



@include media-breakpoint-down(md) {
    .wuc-testimonial .testimonial-info {
        text-align: left;
        width: auto;
        float: left;
    }
    .arrows-wuc-testimonials {
        top: auto;
    }
    .arrows-wuc-testimonials .arrows-inner {
        display: flex;
        justify-content: center;
        margin: 60px 0 30px;
    }
    
    span.prev-wuc-testimonial.slick-arrow {
        position: relative;
        left: -10px;
    }

    span.next-wuc-testimonial.slick-arrow {
        position: relative;
        right: -10px;
    }
    .wuc-intro ul:first-of-type {
        padding-left: 40px;
    }
    .wuc-desc {
        text-align: center;
        img {
            margin-bottom: 15px;
        }
    }
    .wuc-testimonial img.wuc-testimonial-img {
        float: none;
        width: 150px;
        margin: 0 auto 30px;
    }
    .wuc-testimonial .testimonial-info {
        text-align: center;
    }
}

