.wuc-hero {
    background-image: url(../img/joe-wuc.png);
    background-size: cover;
    background-position: center center;
    @include flex-height;
    height: 720px;
    
    .wuc-tagline {
        display: block;
        text-align: center;
        margin-top: 25px;
        border-top: 1.5px solid $black;
        padding-top: 25px;
        text-transform: uppercase;
        letter-spacing: .4px;
        font-weight: 500;
    }
}

.wuc-intro {
    text-align: center;
    ul {
        &:first-of-type {
            margin-right: 20px;
        }
    }
}

ul.checks {
    text-align: left;
    list-style-image:url(../img/check.png);
    padding: 0;
    li {
        margin-bottom: 8px;
    }
}

.wuc-desc {
    background: $lightGrey;
    .default-btn {
        margin-top: 0;
    }
}